.primaryContainer {
   /*  height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    background-color: rgb(245, 245, 245);
    -webkit-box-shadow: rgb(110, 110, 110) 0px 3px 3px 0px;
    box-shadow: rgb(110, 110, 110) 0px 3px 3px 0px; */
}

#header-block {
    float: none;
    height: 175px;
    margin-left: auto;
    margin-top: 50px;
    clear: none;
    width: 100%;
    min-height: 50px;
    background-image:-webkit-linear-gradient(38deg, rgb(104, 115, 255) 0%, rgb(85, 71, 255) 0%, rgba(158, 154, 255, 0.74902) 99%);
    background-image: linear-gradient(52deg, rgb(104, 115, 255) 0%, rgb(85, 71, 255) 0%, rgba(158, 154, 255, 0.74902) 99%);
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    -webkit-box-shadow: rgba(0, 0, 0, 0.298039) -4px 3px 3px 0px;
    box-shadow: rgba(0, 0, 0, 0.298039) -4px 3px 3px 0px;
    margin-right: auto;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

body {
    font-family: open-sans;
    font-size: 32px;
}

#pageTitle {
    float: none;
    font-size: 3em;
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: 600;
    line-height: 1em;
    margin: 40px auto auto;
    clear: none;
    min-height: 0px;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px;
}



#block-header {
    float: none;
    height: auto;
    clear: none;
    background-image:-webkit-linear-gradient(38deg, rgb(104, 115, 255) 0%, rgba(158, 154, 255, 0.74902) 0%, rgb(85, 71, 255) 100%);
    background-image: linear-gradient(52deg, rgb(104, 115, 255) 0%, rgba(158, 154, 255, 0.74902) 0%, rgb(85, 71, 255) 100%);
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid rgb(110, 110, 110);
}

#block-body {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: -5px;
    clear: none;
    width: 97.5%;
    margin-right: auto;
    min-width: 0px;
    padding: 6px;
    margin-bottom: 10px;
    font-family: open-sans-condensed;
    font-size:0.8em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 3px 3px 0px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 3px 3px 0px;
}

#blockHeader {
    float: left;
    font-size: 0.8em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin:5px;
    clear: none;
    min-height: 0px;
    font-family: open-sans-condensed;
}

@media only screen and (max-width: 800px) {

}

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 480px) {


    #text1 {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 320px) {


    #text1 {
        font-size: 0.6em;
        margin-top: 6px;
        margin-left: 2.853535%;
        clear: none;
    }
}


#psBlock {
    position: relative;    
    top:-35px;
    /* margin-bottom: 50px; */
}

@media only screen and (max-width: 800px) {
  /* Style adjustments for viewports 480px and over go here */


#pageTitle {
    font-size: 2em;
}}

@media only screen and (max-width: 640px) {
  /* Style adjustments for viewports 480px and over go here */

#pageTitle {
    font-size:.9em;
    
}}

@media only screen and (max-width: 320px) {
  /* Style adjustments for viewports 480px and over go here */

#pageTitle {
    font-size:.8em;
    top:-35px;
}}
